[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
tab_width = 4

[{*.kt,*.kts}]
ij_kotlin_line_break_after_multiline_when_entry = false
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_code_style = android_studio
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_import-ordering = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_class-signature = disabled

[**/build/**]
ktlint = disabled

[{*.cpp,*.h}]
ij_c_indent_namespace_members = 0
ij_c_space_after_pointer_in_declaration = true
ij_c_space_before_pointer_in_declaration = false
ij_c_space_after_reference_in_declaration = true
ij_c_space_before_reference_in_declaration = false

[{*.json,*.yaml,*.yml}]
indent_size = 2

[strings.xml]
max_line_length = 200
